/* top header */

.panel.header .switcher {
  display: inline-block;
  float: left;
}

.header.panel > .header.links {
  margin: 0;
  padding: 0;
  list-style: none none;
  float: right;
  margin-left: auto;
  display: none;
}

.links_header {
  margin: 0;
  padding: 0;
  list-style: none none;
  float: right;
  margin-left: auto;
}

.links_header > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 15px;
}

.links_header > li a {
  color: white;
  text-decoration: none;
}

.page-header .panel.wrapper {
  border-bottom: 1px solid #e8e8e8;
  background-color: #008dc7;
}
